/*-- fonts & color variables --*/
:root{
   --font-primary: "Outfit" , sans-serif;
   --font-secondary: "Young Serif" , sans-serif;
   --c-White: hsl(0, 0%, 100%);
   --c-Stone100: hsl(30, 54%, 90%);
   --c-Stone150: hsl(30, 18%, 87%);
   --c-Stone600: hsl(30, 10%, 34%);
   --c-Stone900: hsl(24, 5%, 18%);
   --c-Brown800: hsl(14, 45%, 36%);
   --c-Rose800: hsl(332, 51%, 32%);
   --c-Rose50: hsl(330, 100%, 98%);
}
body{
   background-color: var(--c-Stone100);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0;
   padding: 0;
   line-height: 1.5;
   font-family: var(--font-primary);
   font-size: 1rem;
}

/*-- Main container -- */
.container{
   display: flex;
   flex-direction: column;
   background-color: var(--c-White);
   max-width: 40rem;
   border-radius: 1rem;
   margin: 3rem 0;
   padding: 2.2rem;
}
h1{
   font-family: var(--font-secondary);
   font-size: 2.4rem;
   font-weight: 400;
   color: var(--c-Stone900);
}
h2{
   color: var(--c-Brown800);
   font-family: var(--font-secondary);
   font-size: 1.7rem;
   font-weight: 400;
}
h3{
   color: var(--c-Rose800);
   padding: 0.5rem 1.5rem 0;
   font-weight: 600;
   margin: 0;
}
p{
   color: var(--c-Stone600);
   font-size: 1rem;
   font-weight: 400;
}
span{
   font-weight: 400;
}
.container li{
   color: var(--c-Stone600);
   font-size: 1rem;
   font-weight: 700;
   padding: 0 0 0.5rem 1rem;
}

/*-- list style color change--*/
li::marker{color: var(--c-Brown800);}

/*-- omlette image --*/
.omeletteImg{
   border-radius: .7rem;
   width: 100%;
}

/*-- Preparation --*/
.prepTime{
   background-color: var(--c-Rose50);
   margin: 0.5rem 0 0;
   border-radius: .7rem;
   padding: .5rem;
}

/*-- Ingredient --*/
.ingredient{
   border-bottom: solid 1px var(--c-Stone150);
}
.ingredient ul{
   padding-left: 1.3rem;
}
.ingredient li{
   list-style: square;
}

/*-- Instruction --*/
.instruction{
   border-bottom: solid 1px var(--c-Stone150);
}
.instruction ol{
   padding-left: 1.3rem;
}

/*-- Nutrition --*/
.nutrition table {
  width: 100%;
  border-collapse: collapse; /*-- merge cell borders --*/
}
.nutrition td{
   padding: 0.7rem 2rem;
   border-bottom: solid 1px var(--c-Stone150);
   text-align: left;
}
.nutrition td:first-child{
   color: var(--c-Stone600);
}
.nutrition td:last-child {
  color: var(--c-Brown800);
  font-weight: 700;
}

/*-- attribute --*/
   .attribution { font-size: 11px; text-align: center; margin-bottom: .5rem; }
   .attribution a { color: hsl(228, 45%, 44%); }

/*-- Responsive adjustments--*/
@media (max-width: 600px) {
  .container {
    margin: 1rem;
    padding: 1rem;
  }
  .container h1 {
    font-size: 1.8rem;
  }
}
